/*FONTS & COLORS */
/* FONTS & COLORS */
.card {
  background: #282828 !important;
  color: white !important;
}

u {
  color: #bbb1ff;
}

i {
  color: #ff9d17;
}

b {
  color: #ff5838;
}

/* LAYOUT */
#container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container2 {
  text-align: center;
}

.card #container1 #container2 a:hover {
  cursor: pointer !important;
}

.card {
  font-family: Meiryo, "Hiragino Kaku Gothic Pro W3";
}

@font-face {
  font-family: "Hiragino Kaku Gothic Pro W3";
  src: url("../Styles/_hirakakyprow3.otf");
}
/* FONTS & COLORS */
primary {
  text-decoration: underline;
}

.meaning, .reading {
  font-size: 30pt;
}

.meaning, .userExplanation {
  color: #e20096;
}

.reading {
  color: #ff9d17;
}

.meaning {
  line-height: 1.2;
}

.meaning.overridden {
  font-size: 12pt;
}

.userExplanation {
  white-space: pre-line;
  font-size: 20pt;
}

/* highlights */
rad, radical, kan, kanji, read, reading, voc, vocabulary, vocab, .primaryVocab {
  color: white;
}

rad, radical, kan, kanji, read, reading, voc, vocabulary, vocab {
  display: inline-block;
  line-height: 1.2;
}

rad, radical {
  background-color: #00a0f1;
}

kan, kanji {
  background-color: #f100a0;
}

voc, vocabulary, vocab, .primaryVocab {
  background-color: #a100f1;
}

read, reading {
  background-color: #555;
}

/* LAYOUT */
.meaning div {
  text-align: center !important;
} /* yomichan import fix */
.userExplanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comments > div {
  background: #1b1d1e;
}

.comments.short {
  font-size: 25pt;
}

.comments.long {
  font-size: 16pt;
}

.expression, .reading {
  font-size: 40pt;
  line-height: 1;
}

.english {
  font-size: 20pt;
}

/* LAYOUT */
.card {
  text-align: center;
}

.screenshot img {
  width: auto;
  height: 200pt;
}

.comments {
  margin-top: 0pt;
  display: flex;
  justify-content: center;
}

.comments > div {
  text-align: left;
}

.reading ruby rt {
  visibility: hidden;
}

/*
.reading ruby:active rt { visibility: visible; }
.reading ruby:hover rt { visibility: visible; }
*/
