@import url("__magnus_css_universal.css");
@import url("__magnus_css_japanese.css");

/* FONTS & COLORS */
#container2 { font-size: 20pt; }

#container2 .answer { text-align: left; }

.reference_url { font-size: 12pt; }

.question { font-size:30pt; }

/*　www.japanesewithanime.com　*/
:not(a).transcript-extra { color: rgb(109, 255, 109); }


/* LAYOUT */