/_ReSharper.Caches/
/.vs/Anki/FileContentIndex/
/backup/
/backups/
/collection.media/*
/collection.media.backup/*
/collection.media.hyperttsbackup/*
!/collection.media/__magnus*.js
/bin/
/obj/
/.vs/
*.csproj.user
/collection.anki2
/collection.anki2-wal
/collection.media.db2
/deleted.txt
/media.trash/
/_malm_natsume_images_original/*
/collection.media.hyperttsbackup.*
