@use "sass:color";

:root {
  --colorTextGreen: #57a64a;
  --colorTextUnderline: #bbb1ff;
  --colorTextItalic: #ff9d17;
  --colorTextBold: #f15034;
  --colorTextWarningRed: red;
  
  --colorBgRad: #00a0f1;
  --colorBgKan: #f100a0;
  --colorBgVoc: #a100f1;
  --colorBgRead: #cc7d12;
  
  --colorTextReading: var(--colorTextItalic);
  --colorTextMeaning: #ff72bc;
}


html[data-theme="dark"] {
  --colorBgCard: #282828;
  --colorBgOffset1: #1b1d1e;
  --colorBgOffset2: #1f2122;
  --colorBgOffset3: #202223;

  --colorTextCard: color-mix(in lch, white, black 10%);
}

html[data-theme="light"] {
  --colorBgCard: white;
  --colorBgOffset1: color-mix(in lch, var(--colorBgCard), black 10%);
  --colorBgOffset2: color-mix(in lch, var(--colorBgCard), black 20%);
  --colorBgOffset3: color-mix(in lch, var(--colorBgCard), black 30%);
  
  --colorTextCard: black;
  
}
