@use "sass:color";


$colorTextGreen: #57a64a;
$colorTextUnderline: #bbb1ff;
$colorTextItalic: #ff9d17;
$colorTextBold: #f15034;
$colorTextWarningRed : red;

$colorBgDark1: #1b1d1e;
$colorBgDark2: #1f2122;
$colorBgDark3: #202223;
$colorBgCard: #282828;

$colorBgRad: #00a0f1;
$colorBgKan: #f100a0;
$colorBgVoc: #a100f1;
$colorBgRead:#cc7d12;

$colorTextCard: color.adjust(white, $lightness: -5%);

$colorTextReading: $colorTextItalic;
$colorTextMeaning: #ff72bc;

:root {
  --colorTextGreen: $colorTextGreen;
  --colorTextUnderline : $colorTextUnderline;
  --colorTextItalic : $colorTextItalic;
  --colorTextBold  : $colorTextBold;
  --colorTextWarningRed : $colorTextWarningRed;
  
  --colorBgRad: $colorBgRad;
  --colorBgKan: $colorBgKan;
  --colorBgVoc: $colorBgVoc;
  --colorBgRead: $colorBgRead;
  
  --colorTextReading: $colorTextReading;
  --colorTextMeaning: $colorTextMeaning;
}


html[data-theme="dark"] {
  --color-bg-card: $colorBgCard;
  --color-bg-offset-1: #1b1d1e;
  --color-bg-offset-2: #1f2122;
  --color-bg-offset-3: #202223;

  --color-txt-card: color-mix(in lch, white, black 10%);
}

html[data-theme="light"] {
  --color-bg-card: white;
  --color-bg-offset-1: color-mix(in lch, var(--color-bg-card), black 10%);
  --color-bg-offset-2: color-mix(in lch, var(--color-bg-card), black 20%);
  --color-bg-offset-3: color-mix(in lch, var(--color-bg-card), black 30%);
  
  --color-txt-card: black;
  
}
