$colorTextGreen: #57a64a;

$colorTextUnderline: #bbb1ff;
$colorTextItalic: #ff9d17;
$colorTextBold: #f15034;
$colorTextWarningRed : red;

$colorBgDark1: #1b1d1e;
$colorBgCard: #282828;
$colorTextCard: white;

$maxWidth: 1000px;