@import "_02_mixins.scss";

/* FONTS & COLORS */
.card { background:$colorBgCard !important;
        color:$colorTextCard !important;
        
   #container1, #container2 { 
      u { color:$colorTextUnderline; }
      i,em { color:$colorTextItalic; }
      b,strong { color: $colorTextBold;}

      a:hover { cursor: pointer !important; }
   }
   
   /* LAYOUT */
   #container2 { @include flexContainerColumn }

   #container1 {  margin-right:10pt;
                  margin-left:10pt; }
}