@import "_02_mixins.scss";

body {margin: 0px 10px 0px 10px;}

/* FONTS & COLORS */
.card { background:$colorBgCard !important;
        color:$colorTextCard !important;
        
   #container1, #container2 { 
      u { color:$colorTextUnderline; }
      i,em { color:$colorTextItalic; }
      b,strong { color: $colorTextBold;}

      a:hover { cursor: pointer !important; }

      /* LAYOUT */
      @include flexContainerColumn }   
}