@import "_02_mixins.scss";

/* FONTS & COLORS */
.card { background:$colorBgCard !important;
        color:$colorTextCard !important;}

u { color:$colorTextUnderline; }
i { color:$colorTextItalic; }
b { color: $colorTextBold;}


/* LAYOUT */
#container1, #container2 { @include flexContainerColumn }

#container2 { margin: 0px 10px 0px 10px; }

.card #container1 #container2 a:hover { cursor: pointer !important; }