@import "_03_universal.scss";


/*@import "Yomichan/material.scss";*/
@import "Yomichan/display.scss";
@import "Yomichan/display-pronunciation.scss";
/*@import "Yomichan/search.scss";*/
/*@import "Yomichan/structured-content.scss";*/

@font-face {
    font-family: "Hiragino Kaku Gothic Pro W3";
    src: url("_hirakakyprow3.otf"); }

.card #container1 #container2 { 
   font-family: Meiryo, "Hiragino Kaku Gothic Pro W3"; 
}


