@import "_04_japanese.scss";

$darkeningPercentageSmallBackgrounds : 10%;
$colorBgRad: darken(#00a0f1, $darkeningPercentageSmallBackgrounds);
$colorBgKan: darken(#f100a0, $darkeningPercentageSmallBackgrounds);
$colorBgVoc: darken(#a100f1, $darkeningPercentageSmallBackgrounds);
$colorBgRead: darken(#cc7d12, 0%);

$colorTextReading: $colorTextItalic;
$colorTextMeaning: darken(#c563bd, 0%);

.card #container1 #container2 {

/* FONTS & COLORS */
primary { text-decoration: underline; }
obsolete { text-decoration: line-through; }
.meaning { color:$colorTextMeaning; }

.reading { color: $colorTextReading; }

ja, tag { color: $colorTextGreen; }

//The tags that we the right click to select: 
.clipboard, ja, .headword-term, rad, radical, voc, vocab, kan, kanji, read, reading {
   &:hover { cursor:pointer; }
}

/* highlights */
&{ rad, radical, kan, kanji, read, reading, voc, vocabulary, vocab, .primaryVocab { color: #e8e8e8; }

   rad, radical, kan, kanji, read, reading, voc, vocabulary, vocab {
       display: inline-block;
       line-height: 1;
   }

   rad, radical { background-color: $colorBgRad}
   kan, kanji   { background-color: $colorBgKan; }
   voc, vocabulary, vocab, .primaryVocab   { background-color: $colorBgVoc; }
   read, reading { background-color: $colorBgRead; } }

/*LAYOUT*/
.userExplanation { display: inline-block;
                   max-width: $maxWidth;
                   text-align: left; }

/* Yomichan */
.vocabList {
    display: flex;
            flex-direction:column;
            flex-wrap: nowrap;
            width: fit-content;
            margin-right:auto;
            margin-left:auto;
   
   .vocabEntry { background:$colorBgDark1;
            margin: 2px 0px 0px 2px;
   }
}

//not-copy pasted, just the add button in yomichan
.vocabList .vocabEntry div {
   ul[data-sc-content="glossary"] {
      padding-left: 0px;
      display:inline; 
      li { display:inline;
            &:not(:first-child):before { 
               content: " | "; 
               color:darkgray;
            }
      }
   }
}

.vocab_tag_list{
   display:inline;
   .vocab_tag
   {
      display:inline;
      color: $colorTextGreen;
      &:not(:last-child):after { 
         content: "|"; 
         color:darkgray;
      }

      &.vocab_tag_uk { color: $colorTextWarningRed; }
      &.vocab_tag_in_no_sentences { color: $colorTextWarningRed; }
      &.vocab_tag_in_sentences { color: darkgray; }
      &.in_studying_sentences { color: $colorTextGreen; }

   }
}

.vocabList .vocabEntry {
   padding: 0px 0px 0px 0px !important;
   .entry {
      padding: 0px 0px 0px 0px !important;

      .entry-header { text-align: center; }

      //NOTE: In some spots one wants to hide the furigana. Add this class to the outermost pasted div and the furigana goes away
      &.hideFurigana .entry-header rt {display: none;}

      a { text-decoration: none; }
      .gloss-sc-ul[data-sc-content="glossary"],
      .gloss-content:not(.structured-content) { color:$colorTextMeaning; }
      .pronunciation {color:$colorTextReading; }

      .inflection-list { color:$colorTextBold; 
                         font-size: 150%; }

      u .gloss-content { color:$colorTextUnderline; }
      i .gloss-content { color:$colorTextItalic; }
      b .gloss-content { color: $colorTextBold;}

      ol.entry-body-section-content.definition-list { list-style: none; 
                                                      padding-left: 0px; }

      .headword-reading { color:$colorTextReading; } 
      .headword-term { 
         &, rt{ color:$colorTextReading; }
         .headword-kanji-link { color: $colorTextMeaning; }
      }

      .headword-kanji-link, + .entry { border:none !important; }

      .actions,
      .definition-item-expansion-button-icon,
      div.entry-body-section[data-section-type="pronunciations"],
      div.headword-list-tag-list.tag-list,
      .entry-current-indicator,
      .pronunciation-group-tag-list.tag-list { 
         display:none; 
      }

      li[data-dictionary="新和英"], li[data-dictionary="研究社　新和英大辞典　第５版"]{
         .gloss-content {color : white; }

      }
   }
}}