@import "_04_japanese.scss";

$colorBgRad: #00a0f1;
$colorBgKan: #f100a0;
$colorBgVoc: #a100f1;
$colorBgRead:#555;

$colorTextReading: #ff9d17;
$colorTextMeaning: #e20096;

/* Yomichan */
.entry {
   padding: 0px 0px 0px 0px !important;
   .gloss-content { color:$colorTextMeaning; }
   .pronunciation {color:$colorTextReading; }

   .headword-term { &, .headword-kanji-link, rt { color:#f15034; } }

   .headword-kanji-link, + .entry {
      border:none !important;
   }

   .actions,
   span.tag[data-category="dictionary"],
      .entry-current-indicator,
      .pronunciation-group-tag-list.tag-list { 
      display:none; 
   }
}

.vocab {
   &.list { display: flex; 
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
   }
   &.entry { background:$colorBgDark1;
             margin: 2px 0px 0px 2px; }
}

/* FONTS & COLORS */
primary { text-decoration: underline; }

.meaning, .reading { font-size:30pt; }
.meaning, .userExplanation { color:$colorTextMeaning; }
.reading { color: $colorTextReading; }

.meaning { line-height: 1.2; }

.meaning.overridden{ font-size:12pt;  }

.userExplanation {
    white-space: pre-line;
    font-size: 20pt;
}

/* highlights */
rad, radical, kan, kanji, read, reading, voc, vocabulary, vocab, .primaryVocab { color:white; }

rad, radical, kan, kanji, read, reading, voc, vocabulary, vocab {
    display: inline-block;
    line-height: 1.2;
}

rad, radical { background-color: $colorBgRad}
kan, kanji   { background-color: $colorBgKan; }
voc, vocabulary, vocab, .primaryVocab   { background-color: $colorBgVoc; }
read, reading { background-color: $colorBgRead; }


/* LAYOUT */
.meaning div { text-align: center !important; } /* yomichan import fix */
.userExplanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:left;
}