@import "_04_japanese.scss";

$colorBgRad: #00a0f1;
$colorBgKan: #f100a0;
$colorBgVoc: #a100f1;
$colorBgRead:#555;

$colorTextReading: #ff9d17;
$colorTextMeaning: #e20096;

/* Yomichan */
.vocab.list .vocab.entry {
   padding: 0px 0px 0px 0px !important;
   .entry {      
      a { text-decoration: none; }
      .gloss-content { color:$colorTextMeaning; }
      .pronunciation {color:$colorTextReading; }

      .headword-reading { color:$colorTextBold; } 
      .headword-term { 
         &, rt{ color:$colorTextBold; }
         .headword-kanji-link { color: $colorTextMeaning; }
      }

      .headword-kanji-link, + .entry { border:none !important; }

      .actions,
      span.tag[data-category="dictionary"],
         .entry-current-indicator,
         .pronunciation-group-tag-list.tag-list { 
         display:none; 
      }
   }
}

.vocab {
   &.list { display: flex;
            flex-direction:column;
            flex-wrap: nowrap;
            width: fit-content;
            margin-right:auto;
            margin-left:auto;
   }
   &.entry { background:$colorBgDark1;
            margin: 2px 0px 0px 2px;

   }
}

/* FONTS & COLORS */
primary { text-decoration: underline; }

.meaning, .reading { font-size:30pt; }
.meaning { color:$colorTextMeaning; }
.reading { color: $colorTextReading; }

.meaning { line-height: 1.2; }

.meaning.overridden{ font-size:12pt;  }

.userExplanation {
    white-space: pre-line;
    font-size: 20pt;
    color:$colorTextMeaning;
}

/* highlights */
rad, radical, kan, kanji, read, reading, voc, vocabulary, vocab, .primaryVocab { color:white; }

rad, radical, kan, kanji, read, reading, voc, vocabulary, vocab {
    display: inline-block;
    line-height: 1.2;
}

rad, radical { background-color: $colorBgRad}
kan, kanji   { background-color: $colorBgKan; }
voc, vocabulary, vocab, .primaryVocab   { background-color: $colorBgVoc; }
read, reading { background-color: $colorBgRead; }


/* LAYOUT */
.meaning div { text-align: center !important; } /* yomichan import fix */
.userExplanation { display: inline-block;
                   max-width: $maxWidth;
                   text-align: left; 
                   margin-top:10px; }