@import "__magnus_css_universal.scss";
@import "__magnus_css_japanese.scss";
@import "__magnus_css_wanikani.scss";
@import "Yomichan/MyYomichan.scss";


/*FONTS & COLORS */
.comments > div{ background:$colorBgDark1; }
.comments.short { font-size:25pt; 
                  white-space:pre-line; }
.comments.long { font-size:16pt; }

.expression, .reading {
    font-size: 50pt;
    line-height: 1;
}

.english { font-size:20pt; }

/* LAYOUT */
.card { text-align: center; }
.screenshot img {
    width: auto;
    height: 200pt; }

.comments {
    margin-top:0pt;
    display: flex;
    justify-content: center; }

.comments > div { text-align:left; }

.reading ruby rt { visibility: hidden; }



