/*FONTS & COLORS */
@import "__magnus_css_universal.scss";
@import "__magnus_css_japanese.scss";

.comments > div{ background:#1b1d1e; }
.comments.short { font-size:25pt; }
.comments.long { font-size:16pt; }

.expression, .reading {
    font-size: 40pt;
    line-height: 1;
}

.english { font-size:20pt; }

/* LAYOUT */
.card { text-align: center; }
.screenshot img {
    width: auto;
    height: 200pt; }

.comments {
    margin-top:0pt;
    display: flex;
    justify-content: center; }

.comments > div { text-align:left; }

.reading ruby rt { visibility: hidden; }
/*
.reading ruby:active rt { visibility: visible; }
.reading ruby:hover rt { visibility: visible; }
*/

