@import "_05_wanikani.scss";

/*FONTS & COLORS */
.card #container1 #container2 { //Let's stay focused and not break other stuff
   $colorBGUser: $colorBgDark1;
   font-size: 20pt;
 	 text-align: center;
   .expression, .reading{
      b { font-weight:normal; }
   }

   .expression, .reading, .meaning { 	font-family: Meiryo; }
   .expression { font-size:50pt; }
}


