<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--####-->

      <div class="audio">{{Audio}}</div>

      <div class="expression clipboard">{{Expression}}</div>
      <div class="reading">{{Reading}}</div>
      <div class="meaning">{{Meaning}}</div>
      <div class="image">{{Image_URI}}</div>

      <div class="vocab list">
         <div class="vocab entry">{{__vocab1}}</div>
         <div class="vocab entry">{{__vocab2}}</div>
         <div class="vocab entry">{{__vocab3}}</div>
      </div>

      <!--####-->
   </div>
</div>

<script src="__magnus_js.js"></script>