@import "_05_wanikani.scss";

/*FONTS & COLORS */
.card #container1 #container2 { //Let's stay focused and not break other stuff
   $colorBGUser: $colorBgDark1;

   .comments {
      > div{ background:$colorBGUser; }
      &.short { font-size:16pt; 
               white-space:pre-line; }
      &.long { font-size:16pt; }
   }

   .expression, .reading {
       font-size: 50pt;
       line-height: 1;
       &.user { background: $colorBGUser; }
   }

   .english { font-size:20pt; 
              &.user { background: $colorBGUser; } }

   .vocab.list{ font-size: 20pt; }

   /* LAYOUT */
   text-align: center;
   .screenshot img {
       width: auto;
       height: 200pt; }

   .comments {
      display: flex;
      margin: 2px 2px 2px 2px;     
      justify-content: center; 

      > div { text-align:left; }
   }

   .reading ruby rt { visibility: hidden; }
}


