<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--####-->

      <div>{{Audio Sentence}}</div>
      <div class="screenshot">{{Screenshot}}</div>
      <div id="answer" class="expression clipboard user">{{__expression}}</div>
      <div id="answer" class="expression clipboard">{{Expression}}</div>
      <div class="english user">{{__translation}}</div>
      <div class="english">{{English}}</div>

      {{#__comments}}
      <div class="comments short">
         <div>{{__comments}}</div>
      </div>
      {{/__comments}}

      {{#__comments_Long}}
      <div class="comments long">
         <div>	{{__comments_Long}}</div>
      </div>
      {{/__comments_Long}}

      <div class="vocab list">
         <div class="vocab entry">{{__vocab1}}</div>
         <div class="vocab entry">{{__vocab2}}</div>
         <div class="vocab entry">{{__vocab3}}</div>
         <div class="vocab entry">{{__vocab4}}</div>
         <div class="vocab entry">{{__vocab5}}</div>
      </div>

      <!--####-->
   </div>
</div>

<script src="__magnus_js.js"></script>