@import "_05_wanikani.scss";
.card #container1 #container2 { //Let's stay focused and not break other stuff
   /* FONTS AND COLORS */
   font-size: 20pt;

   $expressionFontSize: 40pt;

   .user { background: $colorBgDark1; }
   .expression { font-size: $expressionFontSize;
            padding-top: 5pt;
            line-height:1;
            &.overridden { font-size: 130%; } }

   .meaning { font-size:25pt; 
              &.overridden { font-size: 15pt; } }

   .expression, .reading{
      b { font-weight:normal; }
   }
   
   #expressionAndReading {
      .reading { display:none; }}

   /* LAYOUT */
   .topSection { @include flexContainerColumn; 
                 margin-bottom: 6pt; }

   .bottomSection {
       max-width:1000px;
       justify-content: center;
       text-align:left; 
       div {
          border-bottom: 1px groove white;
          &.my-comments{ border-bottom:none; }
       }

   }

   .my-comments { margin-bottom: 5pt; }

   .image { text-align:center;
            width:100%; }

   .image img{ height: 300px;
               width: auto;
               object-fit: contain; }

   .expression { text-align: center; }
   .meaning {	text-align: center; }
}