<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--######-->
      <div class="topSection">
         <div>{{Audio Sentence}}</div>
         <div class="image">{{Screenshot}}</div>

         <div id="expressionAndReading">
            {{#__question}}<div class="expression user clipboard">{{__question}}</div>{{/__question}}
            <div class="expression clipboard {{#__question}}overridden{{/__question}}">{{source_question}}</div>
            <div class="reading">{{furigana::Reading}}</div>
         </div>

         <div class="meaning user clipboard">{{__answer}}</div>
         <div class="meaning clipboard {{#__answer}}overridden{{/__answer}}">{{source_answer}}</div>
      </div>

      <div class="bottomSection">
         {{#__comments}}<div class="user comments short">{{__comments}}</div>{{/__comments}}
         {{#__comments_Long}}<div class="user comments long">{{__comments_Long}}</div>{{/__comments_Long}}
         {{#Comments}}<div>{{Comments}}</div>{{/Comments}}
      </div>

      <div class="vocabList">
         <div class="vocabEntry">{{__vocab1}}</div>
         <div class="vocabEntry">{{__vocab2}}</div>
         <div class="vocabEntry">{{__vocab3}}</div>
         <div class="vocabEntry">{{__vocab4}}</div>
         <div class="vocabEntry">{{__vocab5}}</div>
      </div>

      <div class="bottomSection">
         <div>
            {{#__feedback-link}}<a href="{{__feedback-link}}">Sent feedback</a>{{/__feedback-link}}
            {{#__hinative}}<a href="{{__hinative}}">Hinative</a>{{/__hinative}}
            {{#QuestionLink}}
            {{^__feedback-link}}
            <!--<a href="mailto:joe@japanese-like-a-breeze.com?subject={{Version}}:{{Sequence}}">Mail feedback</a>-->
            {{/__feedback-link}}
            {{/QuestionLink}}
         </div>

         {{#References}}<div>{{References}}</div>{{/References}}
      </div>
      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>