{{FrontSide}}
<!--###everything below here should be identical for reading and listening cards###-->
<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--######-->
      <div class="topSection">
         <div class="image">{{Screenshot}}</div>

         <div id="expressionAndReading">
            {{#__question}}<div class="expression user clipboard">{{__question}}</div>{{/__question}}
            <div class="expression clipboard {{#__question}}overridden{{/__question}}">{{source_question}}</div>
            <div class="reading">{{furigana::Reading}}</div>
         </div>

         {{#__answer_analysis}}<div class="meaning user analysis clipboard">{{__answer_analysis}}</div>{{/__answer_analysis}}
         {{#__answer}}<div class="meaning user clipboard">{{__answer}}</div>{{/__answer}}
         <div class="meaning clipboard {{#__answer}}overridden{{/__answer}}">{{source_answer}}</div>
      </div>

      <div class="bottomSection">
         {{#__comments}}<div class="user comments short  page_section"><div class="page_section_title">user comments</div>{{__comments}}</div>{{/__comments}}
         {{#__comments_Long}}<div class="user comments long  page_section">{{__comments_Long}}</div>{{/__comments_Long}}
         {{#Comments}}<div class="comments page_section"><div class="page_section_title">source comments</div>{{Comments}}</div>{{/Comments}}
      </div>


      <div class="vocabList">
         {{#__vocab1}}<div class="vocabEntry">{{__vocab1}}</div>{{/__vocab1}}
         {{#__vocab2}}<div class="vocabEntry">{{__vocab2}}</div>{{/__vocab2}}
         {{#__vocab3}}<div class="vocabEntry">{{__vocab3}}</div>{{/__vocab3}}
         {{#__vocab4}}<div class="vocabEntry">{{__vocab4}}</div>{{/__vocab4}}
         {{#__vocab5}}<div class="vocabEntry">{{__vocab5}}</div>{{/__vocab5}}
      </div>


      ##USER_EXTRA_VOCAB##

      ##KANJI_LIST##

      ##VOCAB_BREAKDOWN##

      {{#__references}}{{__references}}{{/__references}}
      <div>
         {{#__feedback-link}}<a href="{{__feedback-link}}">Sent feedback</a>{{/__feedback-link}}
         {{#QuestionLink}}
         {{^__feedback-link}}
         <a href="mailto:joe@japanese-like-a-breeze.com?subject={{Version}}:{{Sequence}}">Mail feedback</a>
         {{/__feedback-link}}
         {{/QuestionLink}}
      </div>

      {{#References}}<div>{{References}}</div>{{/References}}
   </div>
   <!--######-->

</div>

<script src="__magnus_js.js"></script>