@import "_05_wanikani.scss";
.card #container1 #container2 { //Let's stay focused and not break other stuff
   /* FONTS AND COLORS */
   font-size: 20pt;

   $expressionFontSize: 40pt;

   .user { background: $colorBgDark1;
           &.comments.short{
              white-space: pre-line; } 
           read { background-color: unset;
                  color: $colorTextReading; }
   }

   .expression { font-size: $expressionFontSize;
                 line-height:1;
                 &.overridden { font-size: 130%; } }

   .meaning { font-size:25pt; 
              &.overridden { font-size: 15pt; } }

   .expression, .reading{
      b { font-weight:normal; }
   }

   .sentenceVocabList {
      padding-left : 0px;
      ul { padding-left: 20px;
           margin-left: 0px; }
      list-style: none;
      &.depth1 { background:$colorBgDark1; } 
      ul.depth2 { background: $colorBgCard;}
      ul.depth3 { background: $colorBgDark1; 
                  padding-left: 0px;
                  margin-left: 20px; }
      ul.depth4 { background: $colorBgCard;}


      li { line-height:1; }
      .sentenceVocabEntry{
         .vocabQuestion{ font-size: 30pt; }
         
         &.word_priority_very_low { & > .vocabQuestion{ color: darken(darkgrey, 20%); } 
                                    & > .vocabAnswer { color: darken(darkgrey, 20%); } }
         
         &.word_priority_low { & > .vocabQuestion{ color: darken(whitesmoke, 20%); } 
                               & > .vocabAnswer { color: darken(whitesmoke, 20%); } }

         &.word_priority_medium { & > .vocabQuestion{ color: darken($colorTextReading, 10%); } 
                                  & > .vocabAnswer { color: $colorTextMeaning; } }

         &.word_priority_high { & > .vocabQuestion{ color: $colorTextReading; } 
                                & > .vocabAnswer { color: darken($colorTextMeaning, 20%); } }

         &.word_priority_very_high { & > .vocabQuestion{ color: $colorTextBold; } 
                                     & > .vocabAnswer { color: $colorTextBold; } }

      }
   }
   
   #expressionAndReading {
      .reading { display:none; }}

   /* LAYOUT */

   .expression { margin-bottom: 5pt; }
   .user { margin-bottom: 3pt; }
   
   .topSection { @include flexContainerColumn; 
                 margin-bottom: 6pt; }

   .bottomSection {
       max-width:1000px;
       justify-content: center;
       text-align:left; 
       div {
          border-bottom: 1px groove white;
       }

   }

   .image { text-align:center;
            width:100%; }

   .image img{ height: 300px;
               width: auto;
               object-fit: contain; }

}