@import "_05_wanikani.scss";
.card #container1 #container2 { //Let's stay focused and not break other stuff
   /* FONTS AND COLORS */
   font-size: 20pt;

   $expressionFontSize: 40pt;

   .comments {
      max-width:1420px;
      padding:0px 5px 0px 5px;
      white-space: pre-line; 
      margin-top:20px;
      margin-bottom:20px; }

   .user { background: $colorBgDark1;
           &.comments.short{ border-color:$colorTextBold; }
           read { background-color: unset;
                  color: $colorTextReading; } }

   .expression { font-size: $expressionFontSize;
                 line-height:1;
                 &.overridden { font-size: 130%; } }

   .meaning { font-size:25pt;
              line-height: 1;
              &.overridden { font-size: 15pt; } }

   .expression, .reading{
      b { font-weight:normal; } }


   #kanji_list {
      line-height: 1;
      .kanji_item {
         display:flex;
         align-items: center;
         .kanji_kanji { font-size: 40pt;
                        color: $colorTextGreen; }
         .kanji_readings{ margin-left: 10pt;
                          font-size: 25pt;
                          color: $colorTextReading; }
         .kanji_answer { margin-left: 10pt;
                         font-size: 20pt;
                         color: $colorTextMeaning; } }

      .kanji_mnemonic {
         margin-left: 20pt;
         margin-top: 5pt;
         line-height: 1.1;
         background: $colorBgDark1;
         white-space: pre-line } }

   #debug_output {
      white-space:pre;
      font-size: 12pt;
      font-family: Consolas; }

   .sentenceVocabList {     
      padding-left : 0px;
      ul { padding-left: 20px;
           margin-left: 0px; 
           background: $colorBgCard;
      }
      list-style: none;
      
      li { background:$colorBgDark1; }

      ul.depth3 { padding-left: 20px; }

      .vocab_tag_list{ padding-left: 10px; }

      li { line-height:1.2; }
      .sentenceVocabEntry{
         &.is_studying_reading .vocabQuestion { 
            border-left:solid;
            border-color:$colorTextReading;
         }
         &.is_studying_listening .vocabQuestion { 
            border-left:solid; 
            border-color:white;
         }

         &.is_studying_listening.is_studying_reading .vocabQuestion  { 
            border-left:solid; 
            border-color:$colorTextGreen;
         }

         div.sentenceVocabEntryDiv { display: flex; 
                                     align-items: center; 

                                     .vocabLookupForm {color: lighten($colorTextGreen, 0%);
                                                       margin-left: 5pt; }

                                     .vocabHitForm { color: darkgrey; 
                                                     margin-left: 5pt; }

                                     .vocabHitReadings { color: $colorTextReading;
                                                         font-size: 25pt;
                                                         margin-left: 5pt;}
         }

         .vocabQuestion, .vocabLookupForm, .vocabHitForm { font-size: 30pt; 
                                                           white-space:nowrap; }
         .vocabAnswer{ margin-left: 10pt; }
         
         &.word_priority_very_low { & > div > .vocabQuestion{ color: darken(darkgrey, 0%); } 
                                    & > div > .vocabAnswer { color: darken(darkgrey, 0%); } }
         
         &.word_priority_low { & > div > .vocabQuestion{ color: darken(darkgrey, 0%); } 
                               & > div > .vocabAnswer { color: darken(darkgrey, 0%); } }

         &.word_priority_medium { & > div > .vocabQuestion{ color: lighten($colorTextReading, 20%); } 
                                  & > div > .vocabAnswer { color: $colorTextMeaning; } }

         &.word_priority_high { & > div > .vocabQuestion{ color: lighten($colorTextReading, 20%); } 
                                & > div > .vocabAnswer { color: $colorTextMeaning; } }

         &.word_priority_very_high { & > div > .vocabQuestion{ color: $colorTextBold; } 
                                     & > div > .vocabAnswer { color: $colorTextBold; } }

      }
   }
   
   #expressionAndReading { .reading { display:none; } }

   /* LAYOUT */
   .topSection { @include flexContainerColumn; }

   .bottomSection { justify-content: center;
                    text-align:left; }

   .image { text-align:center;
            width:100%; }

   .image img{ height: 300px;
               width: auto;
               object-fit: contain; }

}