@import "_05_wanikani.scss";

/* FONTS AND COLORS */
.card { font-size: 20pt; }

.kanji, .kanjipopup { font-size: 50pt;
                      line-height:1;}

.kanji.user, .my-comments { background: $colorBgDark1;}

/* LAYOUT */
.mainContent { @include flexContainerColumn; }
.topSection { @include flexContainerColumn; 
              margin-bottom: 6pt; }

.bottomSection {
    max-width:1000px;
    justify-content: center;
    text-align:left; 
    div {
       background: $colorBgDark1;
       border-bottom: 1px groove white;
       &.my-comments{ border-bottom:none; }
    }

}

.image { text-align:center;
         width:100%; }

.image img{ height: 300px;
            width: auto;
            object-fit: contain; }

.kanji, .kanjipopup { text-align: center; }
.meaning {	text-align: center; }

/* hide furigana */
.kanjipopup ruby rt { visibility: hidden; }
.kanjipopup ruby:active rt { visibility: visible; }
.kanjipopup ruby:hover rt { visibility: visible; }