<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--######-->
      <div class="topSection">
         <div>{{Audio}}</div>
         <div class="image">{{Image}}</div>

         {{#__expression}}<div class="kanji user clipboard">{{__expression}}</div>{{/__expression}}
         <div class="kanji clipboard {{#__expression}}overridden{{/__expression}}">{{Expression}}</div>
      </div>

      <div class="bottomSection">
         {{#__comments}}<div class="user comments">{{__comments}}</div>{{/__comments}}
         {{#__comments_Long}}<div class="user comments">{{__comments_Long}}</div>{{/__comments_Long}}
         {{#Comments}}<div>{{Comments}}</div>{{/Comments}}
      </div>

      <div class="vocab list">
         <div class="vocab entry">{{__vocab1}}</div>
         <div class="vocab entry">{{__vocab2}}</div>
         <div class="vocab entry">{{__vocab3}}</div>
      </div>

      <div class="bottomSection">
         <div>
            {{#__feedback-link}}<a href="{{__feedback-link}}">Sent feedback</a>{{/__feedback-link}}
            {{#__hinative}}<a href="{{__hinative}}">Hinative</a>{{/__hinative}}
            {{^__feedback-link}}<a href="mailto:joe@japanese-like-a-breeze.com?subject={{Version}}:{{Sequence}}">Mail feedback</a>{{/__feedback-link}}
         </div>

         {{#References}}<div>{{References}}</div>{{/References}}
         {{#Jlab-Remarks}}<div>Jlab-Remarks:{{Jlab-Remarks}}</div>{{/Jlab-Remarks}}
         {{#Other-Back}}<div>Other-Back:{{Other-Back}}</div>{{/Other-Back}}
      </div>
      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>