@import "_05_wanikani.scss";
.card #container1 #container2 .mainContent{ //Let's stay focused and not break other stuff    
                            
   /* FONTS AND COLORS */
   font-size: 20pt;

   .kanji { font-size:180px;
            line-height: 0.9;
            padding-bottom: 10pt;
            background:$colorBgRad;}

   .radicon { color:white;
              font-size:180px; }

   .kanji > span { position:relative; 
				   bottom: -18px; }

   .kanji > img { position:absolute; 
                  bottom:-16px; }

   .radicalName { color:#0a9ce6;
                  font-weight:bold;
                  font-size: 40px; }

   .referenceLink { font-size:10pt;	}


   .mnemonics.user { background:$colorBgDark1; }

   /* LAYOUT */ 
   @include flexContainerColumn;

   .bottomSection  { max-width:$maxWidth; }

   .front-and-answer { text-align: center;
                       width: 100%; }

   .mnemonics.user > div {white-space:pre-line;}

   .mnemonics { margin-top: 20pt; }
}