<!--###everything below here should be identical for reading and listening cards###-->
<div id="container1">
   <div id="container2" class="
        {{Tags}}
        card{{Card}}
        {{#__explanation}}has__explanation{{/__explanation}}
        {{#__explanation_long}}has__explanation_long{{/__explanation_long}}
        ">
      <!--######-->

      <div class="front-and-answer">
         <div>
            <div class="question">
               <div>
                  <span class="clipboard">{{Q}}</span>
                  {{#__derivedFrom}}&lt; <span class="derivedFrom clipboard">{{__derivedFrom}}</span>{{/__derivedFrom}}
                  {{#__ergative_twin}}~<span class="ergativeTwin clipboard">{{__ergative_twin}}</span>{{/__ergative_twin}}
               </div>
            </div>
         </div>
      </div>

      <div id="middleSection">
         {{#__references}}<div class="referenceLink">{{__references}}</div>{{/__references}}


         {{^Audio_b}}{{^Audio_g}} <span class="reading clipboard noaudio">{{Reading}}</span>{{/Audio_g}}{{/Audio_b}}

         {{#__answer}}<div class="meaning user">{{__answer}}</div>{{/__answer}}
         {{^__answer}}<div class="meaning"> {{source_answer}}</div>{{/__answer}}

         <div id="metaData" class="##VOCAB_CLASSES##">
            ##VOCAB_META_TAGS_HTML##
            <span class="_derog">derog</span>
            <span class="_masustem">masu stem</span>
            <span class="reading clipboard">{{Reading}}</span>
         </div>

         {{#__mnemonic}}
         <div>
            <div class="mnemonic override">{{__mnemonic}}</div>
         </div>
         {{/__mnemonic}}


         ##VOCAB_COMPOUNDS##

         ##KANJI_LIST##

         ##DERIVED_FROM##

         ##ERGATIVE_TWIN##

         ##FORMS_LIST##

         ##CONFUSED_WITH_LIST##

         ##SIMILAR_MEANING_LIST##

         ##HOMOPHONES_LIST##

         ##HIGHLIGHTED_SENTENCES##

         <div>
            {{#__image}}<div class="image">{{__image}}</div>{{/__image}}
            {{#Image}}<div class="image">{{Image}}</div>{{/Image}}
         </div>

         {{#__explanation}}<div id="__explanation" class="user">{{__explanation}}</div>{{/__explanation}}

      </div>

      <!--<div class="bottomSection">-->
      {{#__explanation_long}}<div id="__explanation_long" class="user">{{__explanation_long}}</div>{{/__explanation_long}}

      {{#__vocab1}}
      <div class="vocabList">
         {{#__vocab1}}<div class="vocabEntry replacement">{{__vocab1}}</div>{{/__vocab1}}
         {{#__vocab2}}<div class="vocabEntry context">{{__vocab2}}</div>{{/__vocab2}}
         {{#__vocab3}}<div class="vocabEntry context">{{__vocab3}}</div>{{/__vocab3}}
         {{#__vocab4}}<div class="vocabEntry context">{{__vocab4}}</div>{{/__vocab4}}
         {{#__vocab5}}<div class="vocabEntry context">{{__vocab5}}</div>{{/__vocab5}}
      </div>
      {{/__vocab1}}


      {{#Context_jp}}
      <div class="context list page_section">
         <div class="page_section_title">Context sentences</div>
         {{#Context_jp}}
         <div class="context">
            <div class="context_jp clipboard">{{Context_jp}}</div>
            <div>{{Context_en}}</div>
         </div>
         {{/Context_jp}}

         {{#Context_jp_2}}
         <div class="context">
            <div class="context_jp clipboard">{{Context_jp_2}}</div>
            <div>{{Context_en_2}}</div>
         </div>
         {{/Context_jp_2}}

         {{#Context_jp_3}}
         <div class="context">
            <div class="context_jp clipboard">{{Context_jp_3}}</div>
            <div>{{Context_en_3}}</div>
         </div>
         {{/Context_jp_3}}

      </div>
      {{/Context_jp}}
      <!--</div>-->
      <!--<div class="tags">{{Tags}}</div>-->
      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>