<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--######-->

      <div class="front-and-answer">
         <div>
            <div class="question">
               <div>
                  <span class="clipboard">{{Vocab}}</span>
                  {{#__derivedFrom}}&lt; <span class="derivedFrom clipboard">{{__derivedFrom}}</span>{{/__derivedFrom}}
                  {{#__ergative_twin}}~<span class="ergativeTwin clipboard">{{__ergative_twin}}</span>{{/__ergative_twin}}
                  {{#__similar_vocab}}!<span class="similarVocab clipboard">{{__similar_vocab}}</span>{{/__similar_vocab}}
                  {{#__similar_meaning}}:<span class="similarMeaning clipboard">{{__similar_meaning}}</span>{{/__similar_meaning}}
               </div>
               {{#Kanji_Name}}<div class="kanjiNames">{{Kanji_Name}}</div>{{/Kanji_Name}}
            </div>
         </div>
         <div>{{Audio_g}}{{Audio_b}}</div>

         {{#__override_meaning}}
         <div class="meaning user">{{__override_meaning}}</div>
         {{/__override_meaning}}

         {{^__vocab1}}
         {{^__override_meaning}}
         <div class="meaning"> {{Vocab_Meaning}}</div>
         {{/__override_meaning}}

         {{/__vocab1}}

         {{#___explanation}}
         <div class="userExplanation">{{___explanation}}</div>
         {{/___explanation}}

         <div class="metaData">
            <span class="_derog">derog</span>
            <span class="_uk" title="usually kana only">uk</span>
            <span class="_masustem">masu stem</span>
            <span class="partOfSpeech">{{Speech_Type}}</span>
            <span class="reading clipboard">{{Reading}}</span>
         </div>
         {{#Homophones}}<div id="homophonesDiv">Homophones: {{Homophones}} </div>{{/Homophones}}
      </div>

      {{#__vocab1}}
      <div class="vocab list">
         <div class="vocab entry replacement">{{__vocab1}}</div>
         <div class="vocab entry context">{{__vocab2}}</div>
         <div class="vocab entry context">{{__vocab3}}</div>
      </div>
      {{/__vocab1}}

      <div class="bottomSection">
         {{#__image}}<div class="image">{{__image}}</div>{{/__image}}
         {{#Image}}<div class="image">{{Image}}</div>{{/Image}}
         {{#__override_mnemonic}}
         <div>
            <div class="mnemonic override">{{__override_mnemonic}}</div>
         </div>
         {{/__override_mnemonic}}


         {{^__override_mnemonic}}
         <div>
            {{#Meaning_Exp}}
            <div class="mnemonic">{{Meaning_Exp}}</div>
            {{/Meaning_Exp}}

            <br>

            {{#Reading_Exp}}
            <div>
               <div class="mnemonic">{{Reading_Exp}}</div>
            </div>
            {{/Reading_Exp}}

            <br>
         </div>
         {{/__override_mnemonic}}

         <div class="context list">
            {{#Context_jp}}
            <div class="context">
               <div class="context_jp clipboard">{{Context_jp}}</div>
               <div>{{Context_en}}</div>
            </div>
            {{/Context_jp}}

            {{#Context_jp_2}}
            <div class="context">
               <div class="context_jp clipboard">{{Context_jp_2}}</div>
               <div>{{Context_en_2}}</div>
            </div>
            {{/Context_jp_2}}

            {{#Context_jp_3}}
            <div class="context">
               <div class="context_jp clipboard">{{Context_jp_3}}</div>
               <div>{{Context_en_3}}</div>
            </div>
            {{/Context_jp_3}}

         </div>
      </div>
      <div class="tags">{{Tags}}</div>

      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>


