<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--######-->

      <div class="mainContent kanji{{Card}}">
         <div class="front-and-answer">
            <div class="kanjiContainer">
               <div class="kanji">
                  <span class="clipboard">{{Kanji}}</span>
                  <span class="clipboard">{{#__similar_Characters}}!{{__similar_Characters}}{{/__similar_Characters}}</span>
               </div>
            </div>

            {{#__primary_Vocab}}
            <div class="primaryVocab clipboard">{{__primary_Vocab}} {{__primary_Vocab_Audio}}</div>
            {{/__primary_Vocab}}
            {{#__meaning_Override}}
            <div class="meaning user">{{__meaning_Override}}</div>
            {{/__meaning_Override}}
            {{#__user_explanation}}
            <div class="userExplanation">	{{__user_explanation}}</div>
            {{/__user_explanation}}

            {{^__meaning_Override}}<div class="meaning">{{Kanji_Meaning}}</div>{{/__meaning_Override}}

            <div class="vocabList">
               <div class="vocabEntry">{{__vocab1}}</div>
               <div class="vocabEntry">{{__vocab2}}</div>
               <div class="vocabEntry">{{__vocab3}}</div>
            </div>

            <div>
               <div class="itemInfo">
                  <div>
                     <div class="text ">
                        <span>On'yomi:</span>
                        <span class="reading">{{Reading_On}}</span>
                     </div>

                     <div class="text">
                        <span>Kun'yomi:</span>
                        <span class="reading">{{Reading_Kun}}</span>
                     </div>

                     {{#__reading_Nan}}
                     <div class="text">
                        <span>Nanori:</span>
                        <span class="reading">{{__reading_Nan}}</span>
                     </div>
                     {{/__reading_Nan}}
                  </div>

                  <div class="text">
                     <span>Radicals:</span>
                     <span class="radicals">{{Radicals}}</span>
                     <span class="radical_icons">{{^Radicals_Icons}}, {{Radicals_Icons}}{{/Radicals_Icons}}</span>
                     <span class="text">({{Radicals_Names}}{{#Radicals_Icons_Names}}, {{Radicals_Icons_Names}}{{/Radicals_Icons_Names}})</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="bottomSection">
            <div>
               {{#__mnemonics_Override}}
               <div class="mnemonics user">
                  <div>{{__mnemonics_Override}}</div>
               </div>
               {{/__mnemonics_Override}}

               {{^__mnemonics_Override}}
               <div>
                  <div class="text">{{Meaning_Mnemonic}}</div>
                  <div class="text hints">{{Meaning_Info}}</div>
               </div>
               <div>
                  <div class="text">{{Reading_Mnemonic}}</div>
                  <div class="text hints">{{Reading_Info}}</i></div>
               </div>
            </div>
            {{/__mnemonics_Override}}

            {{Vocabs}}
         </div>
      </div>

      <div class="referenceLink">
         <a target="_blank" href="https://www.wanikani.com/kanji/{{Kanji}}">Wanikani</a>
         <a target="_blank" href="https://jisho.org/search/{{Kanji}}%20%23kanji">Jisho(kanji)</a>
         <a target="_blank" href="https://jisho.org/search/*{{Kanji}}*">Jisho(vocab)</a>
         <a target="_blank" href="https://www.immersionkit.com/dictionary?keyword={{Kanji}}&exact=true&sort=shortness">Immersion Kit</a>
         Tags:{{Tags}}
      </div>

      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>

