<div id="container1">
   <div id="container2">
      <!--######-->

      <div class="mainContent">
         <div class="front-and-answer">
            <div class="kanji">{{Radical}}<span class="radicon">{{Radical_Icon}}</span></div>
         </div>
      </div>

      <!--######-->
   </div>
</div>

<!-- Yomichan hack to get styles working right -->
<script>
   document.documentElement.setAttribute('data-glossary-layout-mode', 'compact');
   document.documentElement.setAttribute('data-theme', 'dark');
</script>