<div id="container1">
   <div id="container2">
      <!--######-->

      <div class="mainContent">
         <div class="front-and-answer">
            <div>
               <div class="kanji">
                  {{Radical}}<span class="radicon">{{Radical_Icon}}</span>
                  {{#Similar_Radicals}} !{{Similar_Radicals}} {{/Similar_Radicals}}
               </div>
            </div>

            <div>
               <div>
                  <div class="text radicalName">{{Radical_Name}}</div>
                  <div>
                     <a class="referenceLink" target="_blank" href="https://www.wanikani.com/radicals/{{Radical_Name}}">Wanikani</a>
                     <a class="referenceLink" target="_blank" href="https://jisho.org/search/{{Radical}}%20%23kanji">Jisho</a>
                     <a class="referenceLink" target="_blank" href="https://www.immersionkit.com/dictionary?keyword={{Radical}}&exact=true&sort=shortness">Anime Sentences</a>
                  </div>
               </div>
            </div>
         </div>

         {{#__meaning_override}}
         <div class="mnemonics user" ">
            <div class="text">{{__meaning_override}}</div>
         </div>
         {{/__meaning_override}}
         {{^__meaning_override}}
         <div class="mnemonics" ">
            <div>
               <span class="text">{{Radical_Meaning}}</span>
            </div>
         </div>
         {{/__meaning_override}}
      </div>

      <!--######-->
   </div>
</div>

<!-- Yomichan hack to get styles working right -->
<script>
   document.documentElement.setAttribute('data-glossary-layout-mode', 'compact');
   document.documentElement.setAttribute('data-theme', 'dark');
</script>