@import "_05_wanikani.scss";
.card #container1 #container2 { //Let's stay focused and not break other stuff
   // FONTS & COLORS
   line-height: 1.25;
   font-size: 20pt; 

   .question { font-size:60pt;
               line-height: .9;
               background-color:#a900fd;
               padding-bottom:10pt; }

   .meaning { font-size:25pt; 
              &.overridden{ font-size:12pt;  } }

   .reading { font-size:25pt; }
   .kanjiNames { font-size: 20pt; }
   .metaData { font-size:20pt; }

   #forms { text-align:center; }

   #homophonesDiv {
      color:$colorTextWarningRed;
      .homophone {
         .question{
            color:$colorTextBold;
            background-color:inherit;
            font-size:30pt;
         }

         .vocab_tag_list, .meaning{
            font-size:20pt;
         }

         &.is_studying_reading .question { 
            border-left:solid;
            border-color:$colorTextReading;
         }
         &.is_studying_listening .question { 
            border-left:solid; 
            border-color:white;
         }

         &.is_studying_listening.is_studying_reading .question  { 
            border-left:solid; 
            border-color:$colorTextGreen;
         }
      }
      ol{
         padding-left:0px;
      }
   }

   .partOfSpeech { color: $colorTextBold;  }

   .user { background: $colorBgDark2; 
           padding: 0 5pt 0 5pt; }

   #__explanation { text-align: left;
                    white-space: pre-line;
                    font-size: 20pt;
                    color:$colorTextMeaning; }

   .vocabCompoundList {
      background-color:$colorBgDark1;
      
      li{ list-style-type: none; }
      .vocabCompound{
         .vocabCompoundQuestion { font-size: 25pt;
                                  color: $colorTextGreen; }
         .vocabCompoundHitForm{ font-size: 25pt;
                                color: $colorTextGreen; }
         .vocabHitReadings { color: $colorTextReading; }
         .vocabAnswer { color: $colorTextMeaning; }
      }
   }

   #kanji_list {
      line-height: 1;
      .kanji_item {
         display:flex;
         align-items: center;
         .kanji_kanji { font-size: 40pt;
                        color: $colorTextGreen;
         }
         .kanji_readings{ margin-left: 10pt;
                          font-size: 24pt;
                          white-space: nowrap;
                          color: $colorTextReading;
         }
         .kanji_answer { margin-left: 10pt;
                         white-space: nowrap;
                         font-size: 20pt;
                         color: $colorTextMeaning;
         }
      }

      .readingsSeparator{
         color:darkgrey;
      }

      .kanji_mnemonic {
         margin-left: 20pt;
         margin-top: 5pt;
         line-height: 1.1;
         background: $colorBgDark1;
         white-space: pre-line
      }
   }
   
   .mnemonic.override { font-size:20pt;
                        background:$colorBgDark1;
                        line-height: 1.3;
                        white-space: pre-line; }

   .context .context_jp { font-size: 140%; 
                          .vocabInContext{ background: $colorBgVoc; } }

   .vocabEntry { font-size:20pt; }

   // LAYOUT
   #middleSection  { @include flexContainerColumn }

   //.bottomSection  { max-width:$maxWidth; }

   #kanji_list { margin-top: 10pt; 
                 margin-left: 30pt; }

   .front-and-answer { text-align: center;
                       width: 100%; }

    &._yomitan .meaning > div { text-align:center !important;}

   .itemInfo { display: inline-block;
               text-align: left;
               margin-top:10px;
               margin-bottom:20px; }

   .mnemonic.override, #__explanation, .vocabList { margin-top: 10pt; }

   .metaData span { margin-right: 10pt;}

   
   .context { margin-top: 10pt;}

   .image{ 
      text-align:center; 
      img{ height:500px;
      }

   }

   .tags { margin-top: 6pt; }

      //yomichan import fix
   .meaning, .meaning div { text-align: center !important; }

   //Stuff shown only if the appropriate tag is present.
   ._uk, ._derog, ._masustem {display:none;}
   
   &._masustem ._masustem,
   &._derog ._derog,
   &._uk ._uk{ display: unset; 
               color:$colorTextWarningRed; }


   //this would hide the list of different writings for verbs that is the whole point of some of the yomichan includes....
   &{
      .vocabList .vocabEntry.replacement .entry .entry-header { 
            display: none; 
            rt {display: none;}}
    
      &._showVariations .vocabList .vocabEntry.replacement .entry .entry-header { 
         display: block; 
      }
   }
   
}