@import "_05_wanikani.scss";

.card #container1 #container2 { //Let's stay focused and not break other stuff
   // FONTS & COLORS
   line-height: 1.25;
   font-size: 20px; 

   .question { font-size:60pt;
               line-height: .9;
               background-color:#a900fd;
               padding-top:10pt; }

   .kanjiNames { font-size: 20pt; }

   .meaning, .reading, .partOfSpeech, ._uk { font-size:25pt; }
   
   ._uk{ display:none;}
   &._uk ._uk{ display:unset; }
   ._uk {color: red;}

   .meaning.overridden{ font-size:12pt;  }

   .userExplanation {
         white-space: pre-line;
         font-size: 20pt;
         color:$colorTextMeaning;
   }

   .partOfSpeech { color: $colorTextBold;  }

   &._yomitan .vocab.entry { font-size:30pt; }

   .mnemonic.override { font-size:16pt;
                        background:$colorBgDark1;
                        line-height: 1.6;
                        white-space: pre-line; }

   .context .context_jp { font-size: 140%; }

   .vocab.entry { font-size:20pt; }

   // LAYOUT
   .mainContent { @include flexContainerColumn; }

   .mainContent .bottomSection  { max-width:$maxWidth; }

   .front-and-answer { text-align: center;
                       width: 100%; }

   .meaning div { text-align: center !important; } /* yomichan import fix */
   .userExplanation { display: inline-block;
                      max-width: $maxWidth;
                      text-align: left; }

    &._yomitan .meaning > div { text-align:center !important;}

   .itemInfo { display: inline-block;
               text-align: left;
               margin-top:10px;
               margin-bottom:20px; }

   .partOfSpeech { margin-right: 10pt;}
   .reading { margin-left: 10pt;} 

   .context { margin-top: 10pt;}

   .image{ text-align:center; }

   .tags { margin-top: 6pt; }

   //TRICKY STUFF
   .homophone {display:none;}
   //Tag _homophone present
   &._homophone .homophone { display: block;
                             color:red; }
}