<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--######-->

      <div class="mainContent">
         <div class="front-and-answer">
            <div class="kanji">{{Q}}<span class="radicon">{{Radical_Icon}}</span></div>
         </div>
      </div>

      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>