<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--######-->

      <div class="mainContent">
         <div class="front-and-answer">
            <div>
               <div class="question">
                  {{Vocab}}
                  {{#__similar_vocab}}!{{__similar_vocab}}{{/__similar_vocab}}
               </div>
            </div>
            <div>{{Audio_g}}{{Audio_b}}</div>

            {{#__override_meaning}}
            <div class="meaning user">{{__override_meaning}}</div>
            {{/__override_meaning}}

            {{^__vocab1}}
            {{^__override_meaning}}
            <div class="meaning"> {{Vocab_Meaning}}</div>
            {{/__override_meaning}}

            {{/__vocab1}}

            {{#___explanation}}
            <div class="userExplanation">{{___explanation}}</div>
            {{/___explanation}}

            {{^__vocab1}}

            <div>
               <span class="partOfSpeech">{{Speech_Type}}</span>
               <span class="reading">{{Reading}}</span>
            </div>
            {{/__vocab1}}

            {{#__vocab1}}
            <div class="vocab list">
               <div class="vocab entry">{{__vocab1}}</div>
               <div class="vocab entry">{{__vocab2}}</div>
               <div class="vocab entry">{{__vocab3}}</div>
            </div>
            {{/__vocab1}}

            <div class="homophone">Homophone</div>

            <div>
               <div class="itemInfo">
                  {{#Kanji_Name}}
                  <div>
                     Kanji: <span class="used_kanji">{{Kanji}}</span> <span class="mnemonic">({{Kanji_Name}})</span>
                  </div>
                  {{/Kanji_Name}}
                  <div class="referenceLink">
                     <a target="_blank" href="https://www.wanikani.com/vocabulary/{{Vocab}}">Wanikani</a>
                     <a target="_blank" href="https://jisho.org/search/{{Vocab}}">Jisho</a>
                     <a target="_blank" href="https://www.immersionkit.com/dictionary?keyword={{Vocab}}&exact=true&sort=shortness">Anime Sentences</a>
                     {{Tags}}
                  </div>
               </div>
            </div>
         </div>
         <div class="bottomSection">
            {{#__override_mnemonic}}
            <div>
               <div class="mnemonic override">{{__override_mnemonic}}</div>
            </div>
            {{/__override_mnemonic}}


            {{^__override_mnemonic}}
            <div>
               {{#Meaning_Exp}}
               <div class="mnemonic">{{Meaning_Exp}}</div>
               {{/Meaning_Exp}}

               <br>

               {{#Reading_Exp}}
               <div>
                  <div class="mnemonic">{{Reading_Exp}}</div>
               </div>
               {{/Reading_Exp}}

               <br>
            </div>
            {{/__override_mnemonic}}

            <div class="context list">
               {{#Context_jp}}
               <div class="context">
                  <div class="context_jp">{{Context_jp}}</div>
                  <div>{{Context_en}}</div>
               </div>
               {{/Context_jp}}

               {{#Context_jp_2}}
               <div class="context">
                  <div class="context_jp">{{Context_jp_2}}</div>
                  <div>{{Context_en_2}}</div>
               </div>
               {{/Context_jp_2}}

               {{#Context_jp_3}}
               <div class="context">
                  <div class="context_jp">{{Context_jp_3}}</div>
                  <div>{{Context_en_3}}</div>
               </div>
               {{/Context_jp_3}}

            </div>
         </div>

         <!--######-->
      </div>
   </div>
</div>

<!-- Yomichan hack to get styles working right -->
<script>
   document.documentElement.setAttribute('data-glossary-layout-mode', 'compact');
   document.documentElement.setAttribute('data-theme', 'dark');
</script>


<!-- Copy japanese sentences to clipboard on click to make reading them in yomichan a breeze -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<script>
   var clipboard = new ClipboardJS('.context_jp', { text: function (trigger) { return trigger.innerText; } });
</script>
