<div id="container1">
   <div id="container2">
      <!--######-->
      
      <div class="front-and-answer">
         <div>{{Audio_g}}{{Audio_b}}</div>
      </div>

      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>