@import "_05_wanikani.scss";

/* FONTS & COLORS */
.card { line-height: 1.25;
        font-size: 20px; }

.question { font-size:150px;
            line-height: .8;
            background-color:#a900fd;
            padding-top:17pt; }


.meaning > div { text-align:center !important;} /*hack for yomitan imported notes*/

.meaning.user { font-size:40pt; }

.partOfSpeech { color: $colorTextBold; }

.auxiliaryMeanings { font-size:12px; }
.referenceLink { font-size:12px; }

.mnemonic.override { font-size:25pt;
                     background:#141414;
                     line-height: 1.6;
                     white-space: pre-line; }

.context_jp { font-size: 25pt; }


/* LAYOUT */
.mainContent { @include flexContainerColumn; }

.mainContent > div { max-width:1000px; }

.front-and-answer { text-align: center;
                    width: 100%; }

.itemInfo { display: inline-block;
            text-align: left;
            margin-top:10px;
            margin-bottom:20px; }

.context { margin-top: 10pt;}